<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (appointment) {
      <div>
        <h2 data-cy="appointmentDetailsHeading"><span>Appointment</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ appointment.id }}</span>
          </dd>
          <dt><span>Appt Type</span></dt>
          <dd>
            <span>{{ appointment.apptType }}</span>
          </dd>
          <dt><span>Appt Datetime</span></dt>
          <dd>
            <span>{{ appointment.apptDatetime | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Remarks</span></dt>
          <dd>
            <span>{{ appointment.remarks }}</span>
          </dd>
          <dt><span>Patient Id</span></dt>
          <dd>
            <span>{{ appointment.patientId }}</span>
          </dd>
          <!-- <dt><span>Doctor Id</span></dt>
          <dd>
            <span>{{ appointment.doctorId }}</span>
          </dd> -->
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/appointment', appointment.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
