/* ==========================================================================
Main page styles
========================================================================== */
.hipster {
  display: inline-block;
  width: 347px;
  height: 497px;
  background: url('../../content/images/doctor.svg') no-repeat center;
  background-size: contain;
}

// /* wait autoprefixer update to allow simple generation of high pixel density media query */
// @media only screen and (-webkit-min-device-pixel-ratio: 2),
//   only screen and (-moz-min-device-pixel-ratio: 2),
//   only screen and (-o-min-device-pixel-ratio: 2/1),
//   only screen and (min-resolution: 192dpi),
//   only screen and (min-resolution: 2dppx) {
//   .hipster {
//     background: url('../../content/images/doctor.svg') no-repeat center top;
//     background-size: contain;
//   }
// }
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  min-height: 550px;
}

@media (min-width: 768px) {
  .col-md-3,
  .col-md-9 {
    margin-bottom: -60px;
  }
}
.col-md-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.row2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.actions-div {
  padding: 10px;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  // align-items: center;
  // height: 60%;
  width: 100%;
  // min-width: 500px;
}
button {
  // background-color: white;
  height: 200px;
  width: fit-content;
  border: none;
  border-radius: 15px;
  padding: 10px;
  // outline: 2px solid black;
}

button:hover {
  background-color: #dfdfdf;
}

.custom-button {
  display: flex;
  align-items: center;
  justify-content: center;
  // background-repeat: no-repeat;
  background-position: center;
  // padding-left: 40px;
  // width: 20%;
  // min-width: 200px;
  // min-height: 10vh;
  // padding: 10px 30px;
  padding-top: 8em;
  // margin: 0 auto;
  background: none;
}
.custom-button b {
  white-space: nowrap;
}

.skip-btn {
  height: 50px;
  width: 150px;
  border-radius: 15px;
  padding: 10px;
}

.skip-btn:hover {
  background-color: rgb(185, 18, 18);
}

.next-btn {
  height: 50px;
  width: 150px;
  border-radius: 15px;
  padding: 10px;
}

.next-btn:hover {
  background-color: rgb(18, 18, 199);
}

.book-appointment {
  background-image: url('../../content/images/calendar-svg.svg');
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
  // background-position-y: 8px;
  // cursor: pointer;
  // width: 200px;
  // height: 150px;
}
.view-appointment {
  background-image: url('../../content/images/view-svg.svg');
  background-size: 120px;
  background-repeat: no-repeat;
  background-position: center;
  // cursor: pointer;
  // width: 200px;
  // height: 150px;
}

.queue-section {
  padding-top: 5px;
  padding-left: 25px;
  padding-right: 25px;
  border-left: 1px solid #ccc; // vertical divider
  height: 550px;
  align-items: flex-start;
  justify-content: center;
  // width: min-content;
}

.q-number {
  font-weight: bold;
  color: blue;
}

.current-queue {
  height: 100px;
  width: 300px;
  padding-top: 1em;
  padding-left: 1em;
  border: 3px solid #ccc;
  border-radius: 10px;
}

.next-queue {
  height: 100px;
  width: 300px;
  padding-top: 1em;
  padding-left: 1em;
  border: 3px solid #ccc;
  border-radius: 10px;
}

.your-queue {
  height: 150px;
  width: 300px;
  padding-top: 1em;
  padding-left: 1em;
  border: 3px solid #ccc;
  border-radius: 10px;
}

.admin-queue {
  padding-left: 40px;
  // border-left: 1px solid #ccc; // vertical divider
  height: 550px;
  align-items: flex-start;
  justify-content: center;
  width: min-content;
}

.today-appt {
  padding-top: 5px;
  padding-left: 25px;
  padding-right: 25px;
  // border-left: 1px solid #ccc; // vertical divider
  height: 550px;
  align-items: flex-start;
  justify-content: flex-start;
  width: max-content;
}
