<div class="row">
  <div class="col-md-3">
    <span class="hipster img-fluid rounded"></span>
  </div>
  <div class="col-md-9">
    <div class="content">
      <div class="background-box">
        <h1 class="display-4"><span>Welcome to CABS!</span></h1>
        <p class="lead">Book <b>same-day</b> appointments at our clinics up to <b>an hour</b> in advance.</p>
      </div>
      <div>
        @if (account !== null) {
          <div class="alert alert-success">
            @if (account) {
              <span id="home-logged-message">You are logged in as user &quot;{{ account.login }}&quot;.</span>
            }
          </div>
        } @else {
          <!-- <div class="alert alert-warning">
            <span>If you want to </span>
            <a class="alert-link" (click)="login()">sign in</a
            ><span
              >, you can try the default accounts:<br />- Administrator (login=&quot;admin&quot; and password=&quot;admin&quot;) <br />- User
              (login=&quot;user&quot; and password=&quot;user&quot;).</span
            >
          </div> -->
          <!-- <div class="alert alert-warning">
            <span>To use the app,</span>&nbsp;
            <a class="alert-link" routerLink="/login">Please sign in here!</a>
          </div>
          <div class="alert alert-warning">
            <span>You don&apos;t have an account yet?</span>&nbsp;
            <a class="alert-link" routerLink="/account/register">Register a new account</a>
          </div> -->
        }
      </div>
      <div class="actions-div">
        <img src="content/images/appointment.svg" class="book-appointment" alt="book-appointment" [routerLink]="['/appointment/new']" />Book
        appointment
        <img
          src="content/images/view-appointment.svg"
          class="view-appointment"
          alt="view-appointment"
          [routerLink]="['/appointment']"
        />View appointments
        <!-- <button type="submit" class="btn btn-primary custom-button book-appointment" [routerLink]="['/appointment/new']">
          <span class="fw-bold text-dark">Book Appointment</span>
        </button>
        <button type="submit" class="btn btn-primary custom-button view-appointment" [routerLink]="['/appointment']">
          <span class="fw-bold text-dark">View Appointments</span>
        </button> -->
      </div>
    </div>
  </div>

  <!-- <p>If you have any question on JHipster:</p>

    <ul>
      <li><a href="https://www.jhipster.tech/" target="_blank" rel="noopener noreferrer">JHipster homepage</a></li>
      <li>
        <a href="https://stackoverflow.com/tags/jhipster/info" target="_blank" rel="noopener noreferrer">JHipster on Stack Overflow</a>
      </li>
      <li>
        <a href="https://github.com/jhipster/generator-jhipster/issues?state=open" target="_blank" rel="noopener noreferrer"
          >JHipster bug tracker</a
        >
      </li>
      <li>
        <a href="https://gitter.im/jhipster/generator-jhipster" target="_blank" rel="noopener noreferrer">JHipster public chat room</a>
      </li>
      <li><a href="https://twitter.com/jhipster" target="_blank" rel="noopener noreferrer">follow &#64;jhipster on Twitter</a></li>
    </ul>

    <p>
      <span>If you like JHipster, don&apos;t forget to give us a star on</span>
      <a href="https://github.com/jhipster/generator-jhipster" target="_blank" rel="noopener noreferrer">GitHub</a>!
    </p> -->
</div>
<!-- <div class="row2">
  <div class="ButtonDiv">
    <button type="submit" class="btn btn-primary custom-button book-appointment" [routerLink]="['/appointment/new']">
      <span class="fw-bold text-dark">Book Appointment</span>
    </button>
    <button type="submit" class="btn btn-primary custom-button view-appointment" [routerLink]="['/appointment']">
      <span class="fw-bold text-dark">View Appointments</span>
    </button>
  </div>
</div> -->
