<div>
  <h2 id="page-heading" data-cy="AppointmentHeading">
    <span>Manage Appointments</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-appointment"
        [routerLink]="['/appointment/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Book a new Appointment</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (appointments?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Appointments found</span>
    </div>
  }

  @if (appointments && appointments.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="appt_type">
              <div class="d-flex">
                <span>Appointment Type</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="appt_datetime">
              <div class="d-flex">
                <span>Appointment Schedule</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="remarks">
              <div class="d-flex">
                <span>Special Requests/Remarks</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <!-- TODO: remove once not needed -->
            <th scope="col" jhiSortBy="patient_id">
              <div class="d-flex">
                <span>Patient Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="doctor_id">
              <div class="d-flex">
                <span>Doctor Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (appointment of appointments; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/appointment', appointment.id, 'view']">{{ appointment.id }}</a>
              </td>
              <td>{{ appointment.appt_type }}</td>
              <td>{{ appointment.appt_datetime | formatMediumDatetime }}</td>
              <td>{{ appointment.remarks }}</td>
              <td>{{ appointment.patient_id }}</td>
              <td>{{ appointment.doctor_id }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/appointment', appointment.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">View</span>
                  </a>

                  <a [routerLink]="['/appointment', appointment.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(appointment)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (appointments && appointments.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
